
<%# <div class="card-expcat-container"> %>

  <div class="card-framework">

      <div class="layout-container">
        <div class="category-logo-container">
          <a href="#" data-toggle="modal" data-target="#expenseModal-index-<%= category.id %>">
            <% if category.name.capitalize == "Meals" %>
              <%= image_tag "lunch.png", style: 'height:40px;'%>
            <% elsif category.name.capitalize == "Coffee" %>
              <%= image_tag "coffee-cup.png", style: 'height:40px;'%>
            <% elsif category.name.capitalize == "Cigarettes" %>
              <%= image_tag "cigarette.png", style: 'height:40px;'%>
            <% elsif category.name.capitalize == "Delivery" %>
              <%= image_tag "pizza.png", style: 'height:40px;'%>
            <% elsif category.name.capitalize == "Other" %>
              <%= image_tag "debit-card.png", style: 'height:40px;'%>
            <% elsif category.name.capitalize == "Shopping" %>
              <%= image_tag "online-shopping.png", style: 'height:40px;'%>
            <% end  %>    
          </a>
        </div>
      
        <div class="exp-cat-card-mid">
        <a href="#" data-toggle="modal" data-target="#expenseModal-index-<%= category.id %>">
          <div class="text-x-progressbar">
            <p><%= category.name.capitalize %> <i class="fas fa-info-circle fa-xs"></i></p>
            <p> <%= (category.spent_percentage * 100) < 100 ? (category.spent_percentage * 100).to_i : 100  %>% </p>
          </div>
          <div class="state-bar" data-type="line" data-percentage="<%= category.spent_percentage %>"></div>
        </a> 
        </div>
      </div>

    <div class="icons-container">

      <href type="button" data-toggle="modal" data-target="#expenseModal-new-<%=category.id%>">
        <%= image_tag "add.svg", alt: "add button", style: 'height:22px; margin-right: 5px; margin-top: 4px;' %>
      </href>

       <href type="button" data-toggle="modal" data-target="#editCategoryModal-<%=category.id%>">
        <%= image_tag "edit.svg", alt: "edit button", style: 'height:25px;' %>
        </href>

      <%= link_to category_path(category), method: :delete do %>
        <%= image_tag "trash.svg", alt: "delete button", style: 'height:23px; margin-top: 2px;' %>
      <% end %>

    </div>
     <%= render '/expenses/modal', category: category %>
     <%= render '/categories/modal_edit', category: category %>
     <%= render '/expenses/modal_index', category: category %>
  </div>
 <hr>

<%# <%# 
Old icons category logic
<%# <div class="category-logo-container" style="background-image:url(= asset_path category.name.downcase %><%# )">  %>