
<h1>Statistics</h1>

<!-- Statistics -->

<div class="stats-top-container">

  <div class="stats-left-top-container">

    <div class="stats-container">

      <h3>Potential saving</h3>
      <% if current_user.categories.exists? %>
        <h3>€ <span><%= current_user.saving_potential %></span></h3>
      <% else %>
        <h3><span>No data yet</span></h3>
      <% end %>
    </div>

    <div class="stats-container">
      <h3>Budget spend</h3>
      <% if current_user.categories.exists? %>
        <h3><span><%= 100 - current_user.overall_progress %></span> %</h3>
      <% else %>
        <h3><span>No data yet</span></h3>
      <% end %>

    </div>

  </div>

  <!-- Coach -->

  <div class="coach-container">
    <div class="coach-text-bubble">
      <%= current_user.spending_coach_text %>
    </div>
    <div class="coach-avatar">
      <% if current_user.spending_type == "reckless-spender" %>
        <%= image_tag "reckless_spender.png"%>
      <% elsif current_user.spending_type == "responsible-spender" %>
        <%= image_tag "responsible-spender.png"%>
      <% elsif current_user.spending_type == "super-saver" %>
        <%= image_tag "super_saver.png"%>
      <% else %>
        <%= image_tag "responsible-spender.png"%>
      <% end %>
     </div>
  </div>

</div>

<!-- Goal details -->

<div class="goal-details-container">

    <% if current_user.current_goal %>

      <div class="goal-details-text">
        <h3><span><%= current_user.percentage_goal %></span>% of <%= current_user.current_goal.name.capitalize %> </h3>
        <ul>
          <li>Created at: <%= current_user.current_goal.created_at.strftime("%d-%m-%Y") %></li>
          <li>Deadline: <%= current_user.current_goal.deadline %></li>
          <li>Status: <%= current_user.current_goal.completed %></li>
        </ul>

        <div class="icons-container">
          <%= link_to edit_goal_path(current_user.current_goal) do %>
            <%= image_tag "edit.svg", alt: "add button", style: 'height:25px;' %>
          <% end %>
          <%= link_to goal_path(current_user.current_goal), method: :delete do %>
            <%= image_tag "trash.svg", alt: "add button", style: 'height:23px; margin-top: 2px;' %>
          <% end %>
        </div>

      </div>

      <div class="goal-details-statusgraph">

          <% if current_user.current_goal %>
            <div class="state-bar" data-type="circle" data-percentage="<%= current_user.current_goal.percentage %>"></div>
          <% else %>
            <p> <%= link_to "Add goal", new_goal_path, class: "s-button" %> </p>
          <% end %>

      </div>

    <% else %>

      <div class="no-goal-text">

        <h1>You did not set a goal yet. Lets start saving right now!</h1>
        <br>
        <br>
        <%= link_to "Set goal", new_goal_path, class: "s-button" %>
      </div>

    <% end %>


</div>




