<div class="home-container">
  <div class="top-container">
    <%= link_to "All goals", goals_path, class: "s-button" %>
    <div class="balance">
      <h1>Overview</h1>
      <!-- <h5>$90.000,00</h5> -->
    </div>
    <%= link_to "Add category", new_category_path, class: "s-button" %>
  </div>

  <div class="dashboard-container text-left">
    <div class="goals-dashboard">
      <h2>Savings progress</h2>
      <% if @current_goal %>
        <%= render '/goals/show', goal: @current_goal %>
      <% else %>
        <p> <%= link_to "Add goal", new_goal_path, class: "s-button" %> </p>
      <% end %>
    </div>

    <div class="categories-dashboard">
      <h2 class="ml-4">&nbsp &nbsp Expense Categories</h2>
      <% if current_user.categories.count > 0 %>
        <%= render '/categories/index', categories: @categories %>
      <% else %>
        <%= render '/categories/newcall' %>
      <% end %>
    </div>
  </div>
</div>

