<div class="dashboard-container">
 <div class="sidebar">
    <div class="text-center img-shadow" id="logo-dashboard"><%= image_tag "simpleSLogo.png", width: "90px" %></div>
    <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="false"><i class="fas fa-compass fa-lg pr-1"></i>&nbsp;Overview</a>
      <a class="nav-link" id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="true"><i class="fas fa-chart-pie fa-lg pr-1"></i>&nbsp;Statistics</a>
      <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="false"><i class="fas fa-user-circle fa-lg pr-1"></i>&nbsp;Account</a>
      <a class="nav-link" id="v-pills-addgoal-tab" data-toggle="modal" data-target="#goalModal-new" href="#" role="tab" aria-controls="v-pills-addgoal" aria-selected="false"><i class="fas fa-bullseye fa-lg pr-1"></i>&nbsp;Add goal</a>
      <a class="nav-link" href="<%=destroy_user_session_path%>" data-method="delete" id="v-pills-logout-tab" aria-selected="false">
        <i class="fas fa-sign-out-alt fa-lg pr-1"></i>&nbsp;Log out</a>

    </div>

    </div>


  <div class="dashboard-content">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab"><%= render 'stats' %></div>
      <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
       <h1>Overview</h1>
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-12 col-sm-6">
              <div class="dashboard-card" id="saving-chart">
                <% if @current_goal %>
                  <%= render '/goals/show', goal: @current_goal %>
                <% else %>
                  <a href="#" data-toggle="modal" data-target="#goalModal-new">Set your goal!</a>
                <% end %>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <%= image_tag "dash-coach.png", height: "300px", class: "img-shadow" %>
            </div>
          </div>
            <div class="row">
              <div class="col-12">
                <div class="dashboard-card" id="category-card">
                  <div class="card-expcat-title">
                    <h3>Expense categories</h3>
                    <a href="#" data-toggle="modal" data-target="#categoryModal-new">Add category</a>
                  </div>
                  <% if @categories.exists? %>
                    <% @categories.each do |category| %>
                      <%= render '/shared/expensecategory', category: category %>
                    <% end %>
                  <% else %>
                    <%= render '/categories/newcall' %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab"><%= render 'devise/registrations/edit', resource: resource %></div>
  </div>
</div>
</div>
<%= render '/categories/modal' %>
<%= render '/goals/modal' %>



<%# >> Code for old icons in sidebar %>

<%# <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="false">= image_tag "compass_icon.svg", width: "25px" %> <%# Overview</a> %>
<%# <a class="nav-link" id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="true">= image_tag "graph_icon.svg", width: "25px" %> <%# Statistics</a> %>
<%# <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="false">= image_tag "target_icon.svg", width: "25px" %> <%# Account</a> %>
