<div class="i-container text-center">
  <div class="d-flex mt-4 justify-content-between">
    <div class="i-header text-left">
      <h1>SimpleSaver</h1>
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for     previewing   layouts and visual mockups.</p>
    </div>
    <%= image_tag "SimpleSaverGrowth.svg", width: "20%" %>

  </div>
  <h1>Save automatically and reach your financial goals in 3 simple steps!</h1>
  <div class="d-flex mt-4 justify-content-between">
    <div class="i-step">
      <i class="fas fa-bullseye"></i>
      <p>Set a goal</p>
    </div>
    <div class="i-step">
      <i class="fas fa-wallet"></i>
      <p>Add a budget</p>
    </div>
    <div class="i-step">
      <i class="fas fa-money-check-alt"></i>
      <p>Save the difference</p>
    </div>
  </div>
  <div class="d-flex mt-4 justify-content-between">
    <div class="i-text text-left">
      <p>First select an expense category you would like to track. Maybe coffee?</p>
      <p>Set a budget you think you can beat. Be sure it’s a challenge. </p>
    </div>
    <%= image_tag "SimpleSaverGrowth.svg", width: "20%" %>

  </div>
  <div class="d-flex mt-4 justify-content-between">
    <%= image_tag "SimpleSaverGrowth.svg", width: "20%" %>

    <div class="i-text text-right">
      <p>Continue by choosing a goal you want to save towards, and set a budget.</p>
      <p>Your goal can be antyhing. How does a gap year to Australia sounds?</p>
    </div>
  </div>
  <div class="d-flex mt-4 justify-content-between">
    <div class="i-text text-left">
      <p>Your setup is done! Simplesaver will track your spending and provide feedback to help you stick with your goals.</p>
      <p>Saving has never been easier! Click on the button below to kickstart your account. </p>
      <h3>Happy saving!</h3>
    </div>
    <%= image_tag "SimpleSaverGrowth.svg", width: "20%" %>

  </div>
  <%= link_to "Start saving!", new_user_session_path, class: "start_saving s-button" %>
</div>