<div class="landing_page_container">
    <div class="part_1_container">
        <div class="header">
            <%= image_tag "SimpleSaverPiggy", height: "50px" %>
            <h1><strong>Save automatically and reach your financial goals in 3 simple steps!</strong></h1>
        </div>

        <div class="container-steps">
            <div class="set-goal">
                <%= image_tag "SimpleSaverTarget", height: "50px" %>
                <h2>Set a goal</h2>
            </div>

            <div class="add-budget">
                <%= image_tag "SimpleSaverGrowth", height: "50px" %>
                <h2>Add a budget</h2>
            </div>

            <div class="save-difference">
                <%= image_tag "SimpleSaverMoney", height: "50px" %>
                <h2>Save the difference!</h2>
            </div>
        </div>
        <div class="arrow_down">
            <h2>arrow-image</h2>
            <h3>learn how</h3>
        </div>
    </div>

    <div class="part_2_container">
        <div class="header_part_2"><strong>Save effortlessly with Simplesaver!</strong></div>

        <div class="step_1_container">
            <div class="set_goal">
                <h3>Start with setting a goal you want to save towards</h3>
                <%= image_tag "category", height: "50px" %>
            </div>

            <div class="gap_year">
                <%= image_tag "SimpleSaverBuilding", height: "50px" %>
                <h3>Your goal can be anything. How about a gap year to Australia?</h3>
            </div>

            <div class="arrow_down">
                <h2>downwards arrow icon</h2>
                <h3>learn how</h3>
            </div>
        </div>
    </div>

    <div class="page_3_container">
        <div class="header_part_3"><strong>To achieve your goals we're gonna need to setup some budgets!</strong></div>

         <div class="page_3_content">

         </div>

    </div>

</div>

    <div class="page_4"></div>