
<h2>Statistics</h2>

<!-- Statistics -->

<div class="stats-top-container">

  <div class="stats-left-top-container">

    <div class="stats-container">
      <h3>Potential saving</h3>
      €<%= current_user.saving_potential %>
    </div>

    <br>

    <div class="stats-container">
      <h3>Budget spend</h3>
      <%= 100 - current_user.overall_progress %>%
    </div>

  </div>

  <br>

  <!-- Coach -->

  <div class="coach-container">
    <div class="coach-text-bubble">
      <%= current_user.spending_coach_text %>
    </div>
    <div class="coach-avatar">
      <% if current_user.spending_type == "reckless-spender" %>
        <%= image_tag "reckless_spender.png"%>
      <% elsif current_user.spending_type == "responsible-spender" %>
        <%= image_tag "responsible-spender.png"%>
      <% elsif current_user.spending_type == "super-saver" %>
        <%= image_tag "super_saver.png"%>
      <% else %>
        <%= image_tag "responsible-spender.png"%>
      <% end %>
     </div>
  </div>

</div>

<!-- Goal details -->

<div class="goal-details-container">

  <div class="goal-details-text">
    <h3><%= current_user.percentage_goal %>% of <%= current_user.current_goal.name.capitalize %> </h3>
    <ul>
      <li>Created at: <%= current_user.current_goal.created_at.strftime("%d-%m-%Y") %></li>
      <li>Deadline: <%= current_user.current_goal.deadline %></li>
      <li>Status: <%= current_user.current_goal.completed %></li>
    </ul>

    <div class="icons-container">
      <%= link_to edit_goal_path(current_user.current_goal) do %>
        <%= image_tag "edit.svg", alt: "add button", style: 'height:25px;' %>
      <% end %>
      <%= link_to goal_path(current_user.current_goal), method: :delete do %>
        <%= image_tag "trash.svg", alt: "add button", style: 'height:23px; margin-top: 2px;' %>
      <% end %>
    </div>

  </div>

  <div class="goal-details-statusgraph">
    <% if current_user.current_goal %>
      <div class="state-bar" data-type="circle" data-percentage="<%= current_user.current_goal.percentage %>"></div>
    <% else %>
      <p> <%= link_to "Add goal", new_goal_path, class: "s-button" %> </p>
    <% end %>
  </div>

</div>




