<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12">
      <h3><strong>Log in</strong></h3>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-container">
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
          <%= f.button :submit, "Log in", class: "s-button" %>
          </div>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-lg-6 col-md-4 col-xs-12">
      <div class="centered-box">
        <div class="centered">
          <%= image_tag "chart.png"%>
        </div>
      </div>
    </div>
  </div>
</div>
