
<div class="show-goal-container">

  <div class="left-goal-container">
    <div class="goals-show-title">
      <h1>Goal progress</h1>
      <%= image_tag "SimpleSaverTarget.svg", size: "100" %>
    </div>

    <div class="goals-show-buttons">
      <%= link_to "Edit goal", edit_goal_path(@goal), class: "goals-button"  %>
      <%= link_to "Delete goal", goal_path(@goal), method: :delete,  class: "goals-button"%>
      <%= link_to "All goals", goals_path,  class: "goals-button"%>
    </div>


  </div>

  <div class="right-goal-container">

    <div class="goal-info-containers">
      <h3>Goal started on:</h3>
      <strong><%= @goal.created_at.strftime("%d-%m-%Y") %> </strong>
    </div>

    <div class="goal-info-containers">
      <h3>Current amount:</h3>
      <strong> €<%= @goal.saved %> / €<%= @goal.amount %> </strong>
    </div>

    <div class="goal-info-containers">
      <h3>Deadline:</h3>
      <strong><%= @goal.deadline.strftime("%d-%m-%Y") %> </strong>
    </div>

    <div class="goal-info-containers">
      <h3>Status:</h3>
      <% if @goal.completed == true %>
        <strong>Completed</strong>
      <% else %>
        <strong>In process</strong>
      <% end %>
    </div>



  </div>

</div>
