<div class="form-container">
  <%= simple_form_for([@category, @expense]) do |f| %>
    <%= f.input :name %>
    <%= f.input :amount %>
    <%= f.input :place %>
    <%= f.input :date %>
    <%= f.submit class: "s-button"%>
  <% end %>
</div>

